<div class="row justify-content-center">

    <div class="col-6">

        <div class="card o-hidden my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="text-gray-900 mb-5 font-weight-bold">{{ title }}</h1>
                    </div>
                    <form class="user mt-3" action="" method="POST">
                        <div class="form-group">
                            <input name="username" class="form-control form-control-user" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <select name="role" class="form-control role-form">
                                <option selected>Role</option>
                                <option value="dokter">Dokter</option>
                                <option value="perawat">Perawat</option>
                                <option value="admin">Admin</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input name="password" type="password" class="form-control form-control-user"
                                placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-danger btn-user btn-block">Login</button>
                    </form>
                    <hr>
                    <div class="text-center">
                        <a class="small" href="/auth/signup">Create an Account!</a>
                    </div>
                </div>


            </div>
        </div>

    </div>

</div>